LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL="http://langfuse-web:3000"
LANGFUSE_FLUSH_AT=1

# Swith the below flag to 1 if you want to use vllm image without DMR.
FORCE_VLLM=0
VLLM_LLM_MODEL_ID=Qwen/Qwen2.5-7B-Instruct-AWQ
VLLM_LLM_QUANTIZATION=awq
